body {
    font-family: "Noto Color Emoji", "Neucha", Arial, Helvetica, sans-serif;
    font-variant-emoji: unicode;
    margin: 0;
    color: white;
    font-size: 24px;
}

h1, p {
    margin: 0;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    color: inherit;
}

#background {
    z-index: -1000;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #606060;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
}

#header-container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#header-link {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header-link-logo {
    width: 60px;
    height: 60px;
}

#header-link-name {
    font-weight: 700;
    font-size: 48px;
}

#main {
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

#main-container {
    max-width: 1300px;
    width: 100%;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#main-header {
    text-align: center;
}

#main-header h1 {
    font-size: 44px;
}

#main-header p {
    font-size: 20px;
}

#main-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-button {
    background-color: #606060;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: min-content;
}

.main-button-active {
    background-color: #e0b020;
}

.main-button img {
    height: 45px;
}

.main-button p {
    font-size: 28px;
}

.main-button * {
    pointer-events: none;
    user-select: none;
}

#unfinished {
    max-height: 50vh;
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

#back-button {
    background-color: #202020;
}

@media (max-width: 640px) {
    #main-buttons {
        grid-template-columns: repeat(1, 1fr);
    }

    #back-button p {
        display: none;
    }
    
    #header-link-logo {
        width: 50px;
        height: 50px;
    }

    #header-link-name {
        font-size: 40px;
    }

    #main {
        margin-top: 70px;
        padding-top: 10px;
    }

    #back-button img {
        height: 40px;
    }

    #back-button p {
        font-size: 24px;
    }
}